*.uasset
*.dmp
*.runtime-xml
*.ini
*.umap
*.bin
*.json
*.exp
*.response
*.ubt
*.target
*.txt
*.sln
*.uproject
*.modules
*.uhtmanifest
*.res
*.sdf
*.opensdf
Intermediate/Build/Win64/UE4Editor/Inc/PracticalTraining/Timestamp
*.vcxproj
*.filters
*.png
